@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
   } 
}

h1 {
    font-size: 40pt;
    text-align: center;
}

.logopic {
    float: left;
    width: 5cm;   
}

.sponsorpic {
    float: right;
    width: 5cm;
}



h2 {
    font-size: 24pt;
    text-align: center;
}

.citydate {
    position: relative;
    left: 2.3cm;   
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;

    /*font-size: 17pt;
    text-align: center;*/
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    padding: 10pt;
    font-size: 100%;
    text-align: center;
}

